h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0px;
}
p,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
}
:root {
    --first-color: #212121;
    --second-color: #757575;
    --title-first-color: #2196F3;
    --title-second-color: #000000;
    --buttom-text-color: white;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
    --animation-duration: 250ms;
  }
.container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }
.section {
    padding: 94px 0;
}

/*header*/
header {
    border-bottom: 1px solid #ECECEC;
}
.header-main {
    display: flex;
    align-items:center;
}
.logo {
    display: block;
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo__top {
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo__web {
    color: var(--title-first-color);
}
.logo__studio {
    color: var(--title-second-color);
}
.site-nav {
    display: flex;
}
.site-nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em; 
    list-style-type: none;   
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto; 
}
.header-contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    list-style-type: none;
}
.header-contacts__item:last-child {
    margin-left: 50px;
}
.site-nav__link, 
.site-nav__link--current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--first-color);
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--title-first-color);  
}
.site-nav__link--current {
    position: relative;
    color: var(--title-first-color);
}
.site-nav__link--current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--title-first-color);
    border-radius: 2px;
}
.header-contacts__link {
    display: flex; 
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--second-color);
    transition: color var(--animation-duration) var(--animation-timing-function);   
}
.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--title-first-color);  
}
.header-contacts__icon--mail {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.header-contacts__icon--mail:hover,
.header-contacts__icon--mail:focus {
    fill: currentColor;
}
.header-contacts__icon--phone {
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.header-contacts__icon--phone:hover,
.header-contacts__icon--phone:focus {
    fill: currentColor;
}
/*hero*/
.hero {
    text-align: center;
    background-color: #2F303A;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/Imghero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--buttom-text-color);
}
.hero-button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--buttom-text-color);
    background-color: var(--title-first-color);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*modal window*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity, scale;
    transition:  var(--animation-duration) var(--animation-timing-function);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(1.5);
}
.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--buttom-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%,-50%) scale(1);
    transition: transform var(--animation-duration) var(--animation-timing-function);
}
.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}
.modal-form__lable {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal-form__input {
    margin-top: 4px;
    padding: 11px 0px 11px 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border var(--animation-duration) var(--animation-timing-function);
}
.modal-form__icon {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 50%;
    fill: var(--title-second-color);
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.modal-form__lable:focus-within > .modal-form__input {
    outline: none;
    border-color: var(--title-first-color);
}
.modal-form__lable:focus-within > .modal-form__icon {
    outline: none;
    fill: var(--title-first-color);
}
.modal-form__comment--area {
    margin-bottom: 20px;
}
.modal-form__comment {
    padding: 12px 16px;
    margin-top: 4px;
    height: 120px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    transition: border var(--animation-duration) var(--animation-timing-function), 
    color var(--animation-duration) var(--animation-timing-function);
}
.modal-form__comment:focus {
    outline: none;
    border: 1px solid var(--title-first-color)
}
.modal-form__comment::placeholder {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form__checkbox--label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.modal-form__icon--tick {
    display: flex;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
}
.modal-form__checkbox:checked + .modal-form__icon--tick {
    background-origin: border-box;
    background-color: var(--title-first-color);
    background-image: url(../images/tick.svg);
    background-size: contain;
    border-color: var(--title-first-color);
}
.modal-form__link {
    text-decoration-line: underline;
    color: #2196F3;
}
.modal-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form__button--submit {
    width: 200px;
    height: 50px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    color: var(--buttom-text-color);
    background-color: var(--title-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.modal-form__button--close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.modal-form__button--close:hover {
    fill: var(--title-first-color);
}
.modal-form__icon--close {
    width: 18px;
    height: 18px;
}
/*about-company*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
 }
.about-company__list {
    display: flex;
}
.about-company__item:not(:last-child){
    margin-right: 30px;
}
.about-company__icon {
    width: 70px;
    height: 70px;
}
.about-company__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.about-company__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
}
.about-company__text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
/*our-work*/
.our-work {
    padding-top: 0;
}
.our-work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.our-work__list {
    display: flex;
}
.our-work__item:not(:last-child){
    margin-right: 30px;
}
.our-work__thumb {
    position: relative;
    
}
.our-work__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttom-text-color);
}
/*our-team*/
.our-team {
    background-color: #F5F4FA;
}
.our-team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.our-team__list {
    display: flex; 
}
.team-box {
    padding: 30px 0px;
    border: 1px solid #EEEEEE;
}
.our-team__item {
    background-color: var(--buttom-text-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.our-team__item:not(:last-child){
    margin-right: 30px;
} 
.team-box__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--first-color);
    text-align: center;
}
.team-box__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-color);
    text-align: center;
}
.icons-holder {
    display: inline-flex;
    align-content: center;
}
.icons-holder__list {
    margin-right: 10px;
}
.icons-holder__list:not(:last-child) {
    margin-right: 10px;
}
.icons-holder__icon {
    width: 20px;
    height: 20px;
}
.icons-holder__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: fill var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function);
}
.icons-holder__link:hover,
.icons-holder__link:focus {
    fill: var(--buttom-text-color);
    background-color: var(--title-first-color);
}
/*our-customers*/
.our-cusromers__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.our-cusromers__list {
    display: flex;
}
.our-cusromers__items:not(:last-child) {
    margin-right: 30px;
}
.our-cusromers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill var(--animation-duration) var(--animation-timing-function),
    border var(--animation-duration) var(--animation-timing-function);
}
.our-cusromers__link:hover,
.our-cusromers__link:focus {
    fill: var(--title-first-color);
    border: 1px solid var(--title-first-color);
}
.our-cusromers__icons {
    width: 106px;
    height: 60px; 
}
/*footer*/
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer-objects {
    display: flex;
    align-items: baseline;
}
.footer-contacts {
    flex-grow: 1;
}
.logo__bottom {
    margin-bottom: 20px;
}
.logo__web-_footer {
    color: var(--title-first-color);
}
.logo__studio--footer {
    color: var(--buttom-text-color);
}
.adress {
    font-style: normal;
}
.adress__item:not(:last-child) {
    margin-bottom: 9px;
}
.adress__map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--buttom-text-color);
}
.adress__link {
    color: var(--second-color); 
    transition: color var(--animation-duration) var(--animation-timing-function);    
}
.adress__link:hover,
.adress__link:focus {
    color: var(--title-first-color);
}
/*footer-links*/
.footer-links {
    margin-right: 93px;
}
.footer-links__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--buttom-text-color);
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}   
.footer-list:not(:last-child) {
    margin-right: 10px;
}
.footer-list__icon {
    width: 20px;
    height: 20px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.footer-list__icon:hover,
.footer-list__icon:focus {
    fill: var(--buttom-text-color);
}
.footer-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--buttom-text-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation-duration) var(--animation-timing-function);
}
.footer-list__link:hover,
.footer-list__link:focus {
    background-color: var(--title-first-color);
}
/*footer-form*/
.footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--buttom-text-color);
}
.footer-form {
    display: flex;
}
.footer-form__label {
    margin-right: 12px;
}
.footer-form__field {
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}
.footer-form__field input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;                          
    color: rgba(255, 255, 255, 0.6);
}
.footer-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}
.footer-form__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: #fff;
}
/*portfolio*/
/*filter*/
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__item:not(:last-child) {
    margin-right: 8px;
}
.filter__name {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: var(--title-second-color);
    border-color: transparent;
    transition: color var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function),
    box-shadow var(--animation-duration) var(--animation-timing-function);
}
.filter__name:hover,
.filter__name:focus {
    color: var(--buttom-text-color);
    background-color: var(--title-first-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*projects*/
.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects__item:not(:nth-child(3n)) {
    margin-right: 30px;}

.projects__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
.projects__link {
    display: block;
    transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}
.projects__link:hover .projects-image__desc,
.projects__link:focus .projects-image__desc {
    transform: translateY(0%);
}
.projects__link:hover,
.projects__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-image {
    position: relative;
    overflow: hidden;
}
.projects-image__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--buttom-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform var(--animation-duration) var(--animation-timing-function);
}
.projects-card {
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
}
.projects-card__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-color);
}
.projects-card__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
