$first-color: #212121;
$second-color: #757575; 
$title-first-color: #2196F3;
$title-second-color: #000000;
$border-color: #ECECEC;
$border-second-color: #EEEEEE;
$buttom-text-color: white;
$hero-color: #2F303A;
$bcg-color: #F5F4FA;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
$animation-duration: 250ms;

